@import "../../variables.module.scss";

.Ed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  flex-shrink: 0;

  &:hover {
    background-color: $primaryWhite;
    transition-duration: $durationLong;
    transition-property: background-color;
  }
  
  .aboutMe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 350px;
    border-radius: $borderRadiusMedium;
    padding: 20px;
    max-width: 700px;
    
    h2 {
      font-size: 28px;
      color: $primaryBlue;
      margin-bottom: 20px;
    }

    h3, p {
      margin-bottom: 10px;
    }
  }
}