@import '../../../variables.module.scss';

.Skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  flex-shrink: 0;
  padding: 0 10%;

  h2 {
    font-size: 28px;
    color: $primaryBlue;
    font-weight: 500;
  }

  &:hover {
    background-color: $primaryWhite;
    transition-duration: $durationLong;
    transition-property: background-color;
  }

  .contentBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 350px;
    background-color: $white;
    border-radius: $borderRadiusMedium;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;

    &:nth-child(1) {
      margin-top: 20px;
    }

    .skillsList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      justify-content: center;
      max-width: 800px;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px;

        @media only screen and (max-width: $breakpointSmall) {
          justify-content: space-between;
          margin: 10px 0;
        }

        span {
          margin: 0 10px 0 30px;

          @media only screen and (max-width: $breakpointSmall) {
            margin: 0 10px;
          }
        }
        .skillIcon {
          width: 55px;
          height: 55px;

          &Img {
            padding: 3px;
          }
        }
      }
    }

    .sentence {
      max-width: 700px;
      line-height: 1.5em;
    }

    .contactList {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      width: 100%;

      li {
        a {
          color: black;

          &:visited {
            color: black;
          }

          .contactIcon {
            width: 65px;
            height: 65px;
            padding: 5px;
            border-radius: $borderRadiusSmall;
      
            cursor: pointer;
            &:hover {
              background-color: $primaryYellow;
              transition-duration: $durationMedium;
              transition-property: background-color;
            }
          }
        }
      }
    }
  }
}