@import "../../../variables.module.scss";

.Project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: auto;
  min-height: 220px;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid yellow;
  filter: grayscale(85%);

  &:hover {
    filter: grayscale(0);
    z-index: 2;
    transform: scale(1.05);
    transition-duration: $durationMedium;
    transition-property: transform;
  }
}

.projectModal {
  background-color: $primaryBlueGrey;
  width: 80vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  z-index: 10;

  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    color: $primaryWhite;
    height: 100%;
    padding: 40px;

    .closeModal {
      width: 45px;
      height: 45px;
      padding: 5px;
      border-radius: $borderRadiusSmall;

      &:hover {
        // background-color: $primaryBlueGrey;
        background-color: $darkGrey;
        transition-duration: $durationMedium;
        transition-property: background-color;
      }
    }

    .projectContentImage {
      width: 100%;
      height: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      h2 {
        font-size: 60px;
        margin: 0 0 40px 40px;
      }
    }

    .contentBottom {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 30%;

      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 65%;

        p {
          padding: 0 30px;
          text-align: center;
        }

        .icons {
          display: flex;
          justify-content: space-evenly;
      
          a {
            color: black;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 22px;
            font-weight: 500;
            padding: 5px;
            border-radius: $borderRadiusSmall;

            cursor: pointer;
            &:hover {
              background-color: $primaryYellow;
              transition-duration: $durationMedium;
              transition-property: background-color;
            }
      
            &:visited {
              color: black;
            }

            .icon {
              width: 70px;
              height: 70px;
              padding: 5px;
              margin-left: 5px;
            }
          }
        }
      }



      .techUsed {
        background-color: pink;
        width: 35%;
      }
    }
  }
}

.background1 {
  background-image: url("../../../images/project-one.png");
  background-position: center;
}

.background2 {
  background-image: url("../../../images/project-two.jpg");
  background-position: bottom;
  background-size: 50%;
  background-repeat: repeat;
}

.background3 {
  background-image: url("../../../images/project-three.png");
  background-position: center;
}

.background4 {
  background-image: url("../../../images/project-four.png");
  background-size: 25%;
  background-repeat: repeat;
}

.background5 {
  background-image: url("../../../images/project-five.jpg");
  background-size: cover;
}

.background6 {
  background-image: url("../../../images/project-six.png");
  background-size: 200%;
}

.background7 {
  background-image: url("../../../images/project-seven.png");
  background-size: 25%;
  background-repeat: repeat;
  background-position-y: 60px;
}

.background8 {
  background-image: url("../../../images/project-eight.png");
  background-size: cover;
  background-size: 18%;
  background-repeat: repeat;
  background-position-x: -40px;
}