$primaryWhite: rgb(231, 231, 231);
$primaryBlack: rgb(31, 31, 31);
$primaryYellow: rgb(255,200,61);
$lightGrey: rgba(136, 136, 136, 0.15);
$darkGrey: rgba(68, 67, 67, 0.7);
$primaryBlue: rgb(130,144,175);
$primaryBlueGrey: rgba(96, 108, 134, 0.9);

$durationMedium: 500ms;

$borderRadiusSmall: 3px;
$borderRadiusMedium: 5px;