$primaryWhite: rgb(231, 231, 231);
$primaryBlack: rgb(31, 31, 31);
$primaryYellow: rgb(255,200,61);
$lightGrey: rgba(136, 136, 136, 0.15);
$primaryBlue: rgb(130,144,175);
$primaryBlueGrey: rgba(96, 108, 134, 0.9);