$white: #fff;
$black: rgb(0, 0, 0);
$primaryWhite: rgba(136, 136, 136, 0.15);

$primaryBlack: rgb(31, 31, 31);
$primaryYellow: rgb(255,200,61);
$lightGrey: rgba(136, 136, 136, 0.15);
$darkGrey: rgba(68, 67, 67, 0.8);
$primaryBlue: #28427a;
$primaryBlueGrey: rgba(115, 126, 150, 0.8);

$durationMedium: 500ms;
$durationLong: 1.2s;

$borderRadiusSmall: 3px;
$borderRadiusMedium: 5px;

$breakpointSmall: 480px;
$breakpointMedium: 850px;
$breakpointLarge: 1100px;